:root {
    --primary-color: #424242;
    --secondary-color: #D9BD07;
    --font-family: "Brush Script MT", cursive;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    font-family: "Brush Script MT", cursive;
}

.project {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-heading {
	font-size: 2.5em;
	color: #222222;
}
.skills-table {			
    border-collapse: collapse;
	border-radius: 5px
}
.skills-table td {
	border: 2px solid #222222;
	padding: 8px;
	text-align: center
}
