* { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

:root {
    --primary-color: #424242;
    --secondary-color: #D9BD07;
    --third-color: #E8E3BE;
    --fourth-color: #ffffff;
    --fifth-color: #78f855;
    --font-family: "Brush Script MT", cursive;
}
body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 20px;
}
p {
    font-size: 1em;
    line-height: 1.6;
}

progress {
    background: #78F855;
}

.project {
    border: var(--third-color) solid 2px;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px var(--primary-color);;
}
.project h2 {
    color: var(--third-color);
    font-family: var(--font-family);
}
.project p {
    color: var(--third-color);
    font-family: var(--font-family);
}
.about-heading {
    color: var(--third-color);
    font-family: var(--font-family);
}
a {
    color: var(--third-color);
}
.profile-pic {
    border-radius: 5px;
    border: 2px solid var(--third-color);
}
.skills {
max-width: 800px;
margin: auto;
text-align: center;
}

.skills h2 {
font-size: 2rem;
margin-bottom: 1.5rem;
}

.skill {
margin-bottom: 1rem;
display: flex;
flex: 3;
flex-direction: row;
column-gap: 1.38rem;
}

.skill p {
font-weight: bold;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 50vw;
    margin: 0 auto;
}

.skill {
    padding: 10px;
}

/* Skill Bar Container */
.skill-bar {
border-radius: 10px;
}

/* Progress Bar */
progress {
text-align: right;
padding: 10px;
border-radius: 5px;
}

.full__three_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 1rem;
}

