---
import Band from '../components/Band.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import Excerpt from '../components/Excerpt.astro';
const pageTitle = "Lorem Ipsum";
---
<BaseLayout pageTitle={pageTitle}>
	<section class = "full__three_column gap__3_rem">
		<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
		<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
		<img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
	</section>
	<Band bandTitle = "Lorem Ipsum">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut libero eu 
		justo mattis vulputate. Etiam accumsan sollicitudin turpis, a aliquam arcu. Donec 
		vel mi eu mi varius tincidunt id nec urna. Duis urna massa, hendrerit nec neque vel, 
		rutrum congue sem. Vivamus felis mi, ornare id dignissim ac, viverra sed quam. 
		In nec consectetur nulla. Aliquam cursus blandit magna, vel condimentum purus mattis 
		vitae. Sed nec tempus nibh, quis posuere massa. Etiam a placerat urna. Aliquam erat 
		volutpat. Donec gravida tortor arcu, sed fringilla arcu laoreet sed. Suspendisse 
		consectetur felis sem, ut interdum orci ornare non. Donec cursus massa non euismod 
		luctus.
	</Band>
	<h2 class = "centered">News Ipsum</h2>
	<section class = "full__four_column container text__column">
		<Excerpt />
		<Excerpt />
		<Excerpt />
		<Excerpt />
	</section>
</BaseLayout>
