---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tai P. Hopkins</title>
		<style>
	    	.text-box {
  				border: 2px solid #772f2f;   /* Box border */
  				padding: 15px;            /* Space inside the box */
  				margin: 20px 0;           /* Space outside the box */
  				background-color: #aea1a1;
  				border-radius: 10px;       /* Rounded corners */
				text-size: 22px;
			}
	</style>
	</head>
	<body>
		<h1>Tai Hopkins</h1>
		<h2>Informatics Major</h2>
		<h3>Allgheny College Alumn 26'</h3>
		<div class="text-box">
		My initial interest in computers really took off in high school as I had just come across my first coding class. From there I started building computers to play video games and this led to me pursing Informatics at allegheny college and what also led me to build my first project ***DataSeekr***.
		</div>
	</body>
</html>
