---
---

<section class="contact-section" id = "contact">
    <h2 style="text-align: center;">Contact Me</h2>

    <form>
        <input type="text" class="form-sub" style="width: 94%; color: var(--primary-color);">
        
        <button type="submit" style="display: block; margin: 0 auto; margin-top: 20px;">
            <a href="mailto:taihopkins03@gmail.com">Send</a>
        </button>
    </form>
</section>
