---
---
<footer>
    <!-- [Text of link](URL of link) -->
    <a href = "https://github.com/TaiHop">Github
        <img src="/img/GitHub-Symbol.png" alt="GitHub Icon" width="35" height="20"/>
    </a>
</footer>
