<footer>
    <a href="https://github.com/TaiHop" aria-label="GitHub">
        <img src="/img/GitHub-Symbol.png" alt="GitHub" width="35" height="20"/>
    </a>

    <a href="https://www.linkedin.com/in/tai-hopkins-224797365/" aria-label="LinkedIn">
        <img src="/img/lin.png" alt="LinkedIn" width="35" height="20"/>
    </a>
</footer>
