---
import Nav from './Nav.astro'
---
<header>
    <strong>WebCo</strong>
    <form class = "centered" id = "search">
        <input name = "search" type = "text" class = "input__rounded" aria-label = "Search"/>
        <button type = "submit" ><i class = "fa fa-search"></i></button>
    </form>
    <nav>
        <Nav />
    </nav>
</header>
