---
const { img, alt, skill, value } = Astro.props;
---

<div class="skill-card">
    <img src={img} alt={alt} width="40" height="40" />

    <p>{skill}</p>

    <div class="skill-bar">
        <progress max="100" value={value}></progress>
    </div>
</div>
